/* css reset global styles*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid cyan; */
    color: white;
}

/* body color and font styles*/
body {
    background-color: rgb(1, 77, 1);
    font-family: Arial, Helvetica, sans-serif;
    
}

/*timer in red implies urgency*/
.timer{
    color:red;font-size: 20px;
    background-color: black;
}

button {
    outline: none;
    background-color: cyan;
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

/* Outermost div container */
.outside-div {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/* timer text moved to the right side of top section */
.top-section p {
   float: right; 
}

/* inside div container */
.inside-div {
    background: black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    
}

/* quiz header section - changing for testin main and head in the same spot */

.js-quiz, main {
   display: block;
   margin-bottom: 5vh;
   margin-left: 8%;
   margin-right: 8%; 
}


h1 {
    font-size: 25px;
    text-align: center;
    
}

p {
    font-size: 18px;
    text-align: center;
}
/* margin 0 auto to center start button */
.js-quiz button {
    display: block;
    margin: 0 auto;

}

/* invisible by default before start is pressed*/
main {
    display: none;
}

.timed-quiz {
    display: none;
}

li {
    list-style: none;
}

li button {
    display: block;
    margin: auto;
}

.quiz-finshed-screen {
    display: none;
}

.view-high-scores {
    display: none;
}

.view-high-scores ol {
    overflow: scroll;
    max-height: 150px;   
}
